@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-navbar {
  @apply font-bold md:px-16 px-2 rounded text-gray-700 hover:bg-primary hover:text-white transition-colors flex justify-center items-center w-full
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}

/* A */ 

